@import "fonts"

body
    margin: 0
    padding: 0
    font-family: 'Montserrat'
    min-width: 320px
    overflow-x: hidden
    line-height: 1.5

#main
    padding: 70px 0
    width: 100%
    background-image: url(../img/bg.jpg)
    background-attachment: fixed
    background-size: cover
    background-position: center
    position: relative
    color: #fff
    &::before
        content: ''
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: absolute
        background-color: rgba(0, 0, 0, 0.4)
    > *
        position: relative
        z-index: 1

    .heading
        margin-bottom: 50px
        .name
            margin: 0
            margin-bottom: 15px
            text-align: center
        .telegram
            text-align: center
            display: block
            font-size: 18px
            color: #fff

    .works
        &__title
            text-align: center
            margin-bottom: 50px
            h2
                margin: 0
                font-size: 24px
        &__item
            margin-bottom: 30px

    .work-item
        line-height: 0
        display: flex
        flex-direction: column
        height: calc(100% - 30px)
        &__img
            img
                width: 100%
        &__text
            background-color: rgba(0, 0, 0, 0.8)
            padding: 16px 20px
            flex: 1
            display: flex
            flex-direction: column
            justify-content: space-between
            h3
                margin: 0
                margin-bottom: 5px
                line-height: 1.7
            p
                margin: 0
                margin-bottom: 10px
                line-height: 1.7
                font-size: 15px
                color: #ccc
            a
                line-height: 1.7
                margin-bottom: 10px
                color: #fff
                font-weight: 600
            ul
                line-height: 1.8
                a
                    font-size: 15px
                    font-weight: normal
