@media only screen and (max-width: 1550px) {
  .header-banner__container {
    width: 550px;
    height: 401px;
  }
  .header-banner__text {
    font-size: 28px;
  }
  .header-banner__text p span {
    font-size: 32px;
  }
  .header-banner__text p span.through {
    font-size: 28px;
  }
  .header-banner__text p span.price-text {
    font-size: 50px;
  }
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  #discount {
    height: 500px;
  }
  #discount .discount__container {
    height: 500px;
  }
  #discount .discount__content {
    margin-left: 300px;
    width: 450px;
  }
  #discount .discount__content p {
    font-size: 15px;
    width: 70%;
  }
  .logo__link img {
    width: 180px;
  }
  .header-nav.header-nav--fixed .logo__link img {
    width: 180px;
  }
  .header-banner__container {
    width: 450px;
    height: 328px;
  }
  .header-banner__text {
    font-size: 24px;
  }
  .header-banner__text p span {
    font-size: 28px;
  }
  .header-banner__text p span.through {
    font-size: 24px;
  }
  .header-banner__text p span.price-text {
    font-size: 35px;
  }
  .nav-menu__link {
    font-size: 13px;
  }
  #manual .manual-descr p {
    font-size: 16px;
  }
  #what-is .what-is__descr {
    padding-left: 20px;
  }
  #what-is .what-is__descr p {
    font-size: 12px;
  }
  #comparison .comparison__subtitle {
    font-size: 13px;
  }
  #comparison .comparison__price {
    font-size: 22px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #discount {
    height: 420px;
  }
  #discount .discount__container {
    height: 420px;
  }
  .header-nav {
    padding-top: 30px;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu-mobile {
    display: block;
  }
  .header-banner__container {
    width: 350px;
    height: 255px;
  }
  .header-banner__text {
    font-size: 16px;
  }
  .header-banner__text p span {
    font-size: 20px;
  }
  .header-banner__text p span.through {
    font-size: 16px;
  }
  .header-banner__text p span.price-text {
    font-size: 26px;
  }
  #what-is .what-is__slider {
    margin-bottom: 20px;
  }
  #what-is .what-is__slider-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    top: none;
    padding-top: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #what-is .what-is__slider-nav a {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 5em;
            border-radius: 5em;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  #what-is .what-is__slider-nav a:first-child {
    left: none;
    margin-right: 10px;
  }
  #what-is .what-is__slider-nav a:last-child {
    right: none;
  }
  #what-is .what-is__descr {
    padding-left: 0;
  }
  #what-is .what-is__descr p {
    font-size: 14px;
  }
  #add-info .add-info__recommendation {
    padding: 20px 50px;
  }
  #add-info .add-info__recommendation p {
    font-size: 12px;
  }
  #add-info .add-info__recommendation img {
    margin: 0 auto;
  }
  #add-info .add-info__manual {
    padding: 20px 50px;
    margin-top: 30px;
  }
  #add-info .add-info__manual h3 {
    margin-bottom: 20px;
  }
  #add-info .add-info__manual ul li {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #comparison .comparison__subtitle {
    font-size: 12px;
  }
  #comparison .comparison__price {
    font-size: 18px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  #discount {
    height: 320px;
  }
  #discount .discount__container {
    height: 320px;
  }
  #discount .discount__content {
    margin-left: 300px;
    width: 320px;
  }
  #discount .discount__content h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #discount .discount__content p {
    font-size: 13px;
    width: 70%;
  }
  .logo__link img {
    width: 150px;
  }
  .header-nav.header-nav--fixed .logo__link img {
    width: 150px;
  }
  .header-nav {
    padding-top: 10px;
  }
  .header-banner__container {
    width: 220px;
    height: 160px;
    margin-top: 20px;
  }
  .header-banner__text {
    font-size: 12px;
  }
  .header-banner__text p {
    line-height: 1.2;
  }
  .header-banner__text p span {
    font-size: 14px;
  }
  .header-banner__text p span.through {
    font-size: 12px;
  }
  .header-banner__text p span.price-text {
    font-size: 18px;
  }
  #manual .manual-steps::before {
    display: none;
  }
  #manual .manual-steps__text {
    font-size: 13px;
  }
  #manual .manual-descr p {
    font-size: 14px;
  }
  #take-dispatch .take-dispatch__content h3 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 710px) {
  #discount {
    height: 310px;
  }
  #discount .discount__container {
    height: 310px;
  }
  #discount .discount__content {
    margin-left: 30%;
    width: 320px;
  }
  #discount .discount__content h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #discount .discount__content p {
    font-size: 13px;
    width: 70%;
  }
}

@media only screen and (max-width: 575px) {
  #effects .effects__container {
    display: none;
  }
  #effects .effects__slider {
    display: block;
  }
  #footer .footer__socials {
    text-align: center;
    margin-bottom: 30px;
  }
  #footer .footer__logo {
    text-align: center;
  }
  #footer .footer__logo img {
    width: 200px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #discount {
    height: 290px;
  }
  #discount .discount__container {
    height: 290px;
  }
  #discount .discount__content {
    margin: 0 10px;
    padding-top: 15px;
    width: 90%;
  }
  #discount .discount__text h2 {
    margin-bottom: 5px;
  }
  #discount .discount__text p {
    font-size: 12px;
  }
  #map iframe {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .header-banner__container {
    width: 220px;
    height: 160px;
    margin: 20px auto 0 auto;
  }
  #add-info .add-info__recommendation {
    padding: 20px 35px;
  }
  #add-info .add-info__manual {
    padding: 20px 35px;
  }
  .header {
    background-position: left;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
