extends ../layout/main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	.content-wrapper
		.row.justify-content-center
			.col-auto
				h2.page-title Тут заголовок 7
		.content-text
			.row
				.col-lg-4.col-sm-6
					.content-item
						h1 24 / 7
						p Время работы сервиса
				.col-lg-4.col-sm-6
					.content-item.content-item_gray
						h1 С 9 до 18
						p Время работы поддержки
				.col-lg-4.col-sm-6
					.content-item
						h1 0
						p Рублей
				.col-lg-4.col-sm-6
					.content-item
						h1 Хранение
						p База данных
				.col-lg-4.col-sm-6
					.content-item
						h1 Экспорт
						p XLSX / CSV / EXCEL
				.col-lg-4.col-sm-6
					.content-item
						h1 Сортировка
						p По категориям
				.col-sm-12
					.content-item.content-item_desc
						h3 Тут будет заголвок 4
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Она букв составитель домах, переулка за пояс сих собрал? Послушавшись.


	