extends ../layout/settings

block variables
	- var title = 'Смена пароля';
	- var pageClass = 'password-reset-page';

block content
	.content-wrapper
		.row
			.col-lg-3.col-md-4.col-sm-5
				.sidebar
					ul
						li.active
							a(href="#") Сбросить пароль
						li
							a(href="#") Тех. поддержка
						li.li-dropdown
							| Страницы
							ul
								li
									a(href="#") Страница
								li
									a(href="#") Страница
								li
									a(href="#") Страница
								li
									a(href="#") Страница
						li
							a(href="#") Выйти
			.col-lg-9.col-md-8.col-sm-7.col-12
				.reset-password-form
					h2 Смена пароля
					form(action="")
						.form-input
							label Введите старый пароль
							input(type="text")
						.form-input
							label Введите новый пароль
							input(type="text")
						.form-input
							label Повторите новый пароль
							input(type="text")
						.form-input
							button(type="submit").btn.btn-green.btn-wb Сохранить




	