@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Caveat/Caveat-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 970px;
  background-image: url(../img/header-pattern.jpg);
  background-size: cover;
  font-size: 18px;
  position: relative;
}

header .container {
  height: 100%;
}

header::before {
  content: '';
  position: absolute;
  width: 650px;
  height: 840px;
  background-image: url(../img/header-photo-1.jpg);
  background-size: cover;
  right: calc(100% - 50% + 534px - 420px);
  top: 0;
  z-index: 1;
}

header::after {
  content: '';
  position: absolute;
  width: 800px;
  height: 760px;
  background-image: url(../img/header-photo-2.jpg);
  background-size: cover;
  top: 130px;
  right: calc(50% - 534px - 100px);
  z-index: 1;
}

header > * {
  position: relative;
  z-index: 2;
}

header .text {
  height: calc(100% - 230px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .text h1 {
  font-size: 64px;
  margin: 0;
}

header .text p {
  font-family: 'Caveat', sans-serif;
  font-size: 64px;
  margin: 0;
  width: 100%;
  text-align: right;
}

nav {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-left: 50px;
}

nav ul a {
  color: #000;
  text-decoration: none;
}

section {
  margin: 100px 0;
}

section.section-bg {
  background-color: #F9DAE5;
  padding: 75px 0;
}

section h2 {
  font-size: 34px;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}

.uslugi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uslugi-block {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.uslugi-block h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.uslugi-block ul {
  margin: 0;
  padding: 0;
}

.uslugi-block ul li {
  list-style-type: none;
  margin-bottom: 20px;
  color: #676767;
}

.doctors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.doctors-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -ms-flex-preferred-size: calc(33% - 20px);
      flex-basis: calc(33% - 20px);
  background-color: #fff;
  margin: 0 10px;
  padding: 10px;
  padding-top: 45px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.doctors-block img {
  width: 100%;
  margin-bottom: 15px;
}

.doctors-block h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.doctors-block p {
  color: #5a5a5a;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
}

.doctors-block:nth-child(2) img {
  margin-bottom: 25px;
}

.doctors-block:nth-child(2) p {
  margin-bottom: 50px;
}

a.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #58773b;
  padding: 12px 25px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.advantages h2 {
  font-weight: normal;
}

.advantages-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -15px;
}

.advantages-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -ms-flex-preferred-size: calc(33% - 30px);
      flex-basis: calc(33% - 30px);
  margin: 0 15px;
  padding: 10px;
  padding-top: 45px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.advantages-block h3 {
  font-size: 18px;
  font-weight: normal;
}

.prices-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 120px;
}

.prices-block img {
  width: 65%;
}

.prices-text {
  background-color: #F9DAE5;
  width: 42%;
  position: absolute;
  right: 50px;
  bottom: -30px;
  padding: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.prices-text h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.prices-text span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  display: inline-block;
}

.prices-text p {
  margin: 0;
  margin-bottom: 15px;
}

.prices-text a {
  display: inline-block;
  margin-top: 15px;
}

.prices-block:nth-child(2) img {
  margin-left: calc(35% - 50px);
}

.prices-block:nth-child(2) .prices-text {
  left: 0;
  bottom: -30px;
}

.banner {
  height: 670px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-color: #eaeaea;
}

.banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner-text {
  text-align: center;
}

.banner-text h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 36px;
  margin-bottom: 50px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  line-height: 0;
}

.images img {
  width: 100%;
  margin-bottom: 30px;
}

.images-small {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
  margin: 0 15px;
}

.images-big {
  -ms-flex-preferred-size: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
  margin: 0 15px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.reviews-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -ms-flex-preferred-size: calc(33% - 20px);
      flex-basis: calc(33% - 20px);
  background-color: #fff;
  margin: 0 10px;
}

.reviews-block img {
  margin-right: 10px;
}

.reviews-block span {
  font-size: 20px;
}

.reviews-block p {
  color: #676767;
}

footer {
  background-color: #58773b;
}

.footer {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.footer ul li img {
  position: relative;
  margin-left: 15px;
  bottom: -5px;
}

.footer ul a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1068px) {
  header::before {
    right: calc(100% - 200px);
  }
  header::after {
    left: 130px;
    top: 200px;
    height: 690px;
  }
  nav {
    height: 180px;
  }
  nav .logo {
    height: 55px;
  }
  nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav a {
    font-size: 16px;
  }
  header .text {
    height: calc(100% - 400px);
  }
  header .text h1 {
    font-size: 38px;
  }
  header .text p {
    font-size: 50px;
  }
  .uslugi {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uslugi-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
    margin-bottom: 30px;
  }
  .doctors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .doctors-block {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .prices-block img {
    display: none;
  }
  .prices-text {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    left: 0;
    top: 0;
  }
  .prices-block {
    margin-bottom: 40px;
  }
  .advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-block {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    text-align: center;
  }
  .reviews {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews-block {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    text-align: center;
    margin-bottom: 30px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 30px 0;
  }
  .footer ul {
    margin-top: 35px;
  }
  section {
    margin: 70px 0;
  }
  section h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 530px) {
  .images-small {
    -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
  }
  .reviews-block {
    -ms-flex-preferred-size: calc(100% - 20px);
        flex-basis: calc(100% - 20px);
  }
  .doctors-block {
    -ms-flex-preferred-size: calc(100% - 20px);
        flex-basis: calc(100% - 20px);
  }
  .uslugi-block {
    -ms-flex-preferred-size: calc(100% - 20px);
        flex-basis: calc(100% - 20px);
  }
}
