footer.footer
	.footer_menu
		ul.d-flex.flex-sm-row.flex-column.justify-content-sm-around.align-items-center
			li
				a(href="#") Тех. поддержка
			li
				a(href="#") Заголовок 5
			li
				a(href="#") Заголовок 6
	.footer_cr
		p © 2010-2019 Обработка персональных данных 1. Пользовательское соглашение 2. Публичная оферта 3.
