.top-line
	.content-wrapper
		.row.justify-content-between
			.col-lg-3.col-md-4.col-sm-5.col-auto
				.top-line_logo
					a(href='#') Лого
			.col-auto
				.mobile-menu
					.mobile-menu_button
						i.fas.fa-bars

.mobile-menu
	.mobile-menu_content
		ul
			li
				a(href="#") Парсинг
			li
				a(href="#") Парсинг
			li
				a(href="#") Настройки