.menu
	.content-wrapper
		.row.justify-content-between
			.col-auto
				.menu_list
					ul
						li
							a(href="#")
								i.fas.fa-bars
								span Парсинг
						li
							a(href="#")
								i.fas.fa-list-ul
								span База
			.col-auto
				.menu_user
					a(href="#")
						i.fas.fa-user
						span Войти

.progress-info
	.content-wrapper
		.row
			.col-12
				ul
					li Прогресс:
					li Взято объявлений: <span>0</span>
					li Автопоиск: Выкл