.menu
	.content-wrapper
		.row.justify-content-between
			.col-auto
				.menu_list
					ul
						li
							a(href="#").active
								i.fas.fa-bars
								span Парсинг
						li
							a(href="#")
								i.fas.fa-list-ul
								span База
			.col-auto
				.menu_user
					a(href="#")
						i.fas.fa-sliders-h
						span Настройки

.progress-info
	.content-wrapper
		.row
			.col-12
				ul
					li Прогресс:
					li Всего объявлений: <span>220</span>
					li Взято объявлений: <span>220</span>
					li Автопоиск: Выкл
					li Статус: <span>Работа завершена</span>