
@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),  url('PlayfairDisplay-Black.woff') format('woff'), url('PlayfairDisplay-Black.ttf')  format('truetype'), url('PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
